<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533970784391-u389qs47rp9i9ibkk0l90oi4iq35ieqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533970784391-u389qs47rp9i9ibkk0l90oi4iq35ieqj</string>
	<key>API_KEY</key>
	<string>AIzaSyBIv_IhFqjSIJl9rYrbWmNMabaOWLSTU1k</string>
	<key>GCM_SENDER_ID</key>
	<string>533970784391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RMITUniversityVietnam.Memento</string>
	<key>PROJECT_ID</key>
	<string>ios-asm-2</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-asm-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533970784391:ios:48ea9b89df8adb212fa822</string>
</dict>
</plist>